html, body {
  height: 100%;
}

body{
  background: url(/img/test-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

}

.container{
  background-color: #FFF;
}

.info-column {
  background-color: #EEE;
  padding-bottom:.2em;
}

.profile-image{
  width:100%;
  margin-top:1em;
}

.link-list {
  font-size: 120%;
}

.link-list i{
  display: inline-block;
  margin-right: .5em;
}
